.section .activity .activityinstance, 
.section .activity .activityinstance div {
	display:inline-block; 
	width:100%; 
	height:100%;
}

.section li.activity {
	background: #f1f1f4;
	height:160px;
	width:200px;
	float:left;
	margin-right:10px;
	margin-top:10px;
	padding:20px;
	display:inline;
	clear:none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
	border: 1px solid #ddd;
	transition:all ease-out 1s;
}

.label, .badge {
	font-weight:lighter;
}

li.activity.label {
	width: 100%;
}

.section li.activity.label:hover {
	background:transparent !important; 
	transition:all ease-out 1s;
}
		
.section .activity .activityinstance > a {
	text-align:right; 
	color: rgb(105, 105, 109); 
	height:160px !important; 
	width:180px !important; 
	font-size: 1em;
	display:block;
	padding:10px;
	transition:all ease-out .5s;
}

.section .activity .activityinstance > a:hover {
	font-weight: 400;
}

.section .activity .mod-indent-outer {
	padding-left:0;
}
	
.section .activity .activityinstance > a:hover {
	text-decoration:none;
}

.section .activity img.activityicon {
	float:left;
}

.editing .activity .section {
	margin-top:0;
}

.editing .section .activity:hover,
.course-content .section .activity:hover {
	background: #ddd;
}

.section .activity .mod-indent {
	padding-left:0px; 
	height:100%;
}

.path-site li.activity > div, 
.path-course-view li.activity > div {
	width:100%; 
	height:100%;
}

li.activity.label {
	clear:none;; 
	width:auto;
	height: auto; 
	background: transparent; 
	border:none; 
	margin-top: 5px; 
	margin-left:-20px; 
	float:left;
	position:relative;
	top: 10px;
}

li.activity.label:hover {
	clear:none; 
	width:auto; 
	height: auto; 
	background:transparent; 
	border:none; 
	float:left;
	position:relative;
	top: 10px;
}

.mod-indent-1,
.mod-indent-2,
.mod-indent-3,
.mod-indent-4,
.mod-indent-5 {
	margin-left:0;
}

.resourcelinkdetails {
	float:right; 
	position:relative; 
	top:-100px; 
	text-align: right;}


.section .activity .commands {
	position:relative;
	top: -25px;
	z-index: 100;
	left:-20px;
	color: #000;
	width: 0px;
	font-weight: bold;
}

.section .activity .commands a {
	color: #000;
}

.togglecompletion {
	position: relative;
	top: 15px;
	left: 20px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
	display: none;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
	transition:all ease-out .5s;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu:hover {
	background: [[setting:themecolor]];
	color: #fff;
}

.moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
	right: 18px;
	top: -5px;
}

.editing .section .activity .mod-indent-outer {
	padding-left: 0px;
}

.moodle-actionmenu[data-enhanced].show .menu {
	box-shadow: none;
	background: #f1f1f4;
}

.section .activity .editing_move {
	top: -15px;
	left: -15px;
}

.section .editing_title .iconsmall {
	top: -182px;
	left: 10px;
	position: relative;
}

.section .activity .availabilityinfo, 
.section .activity .contentafterlink {
	margin-top:-100px;
	margin-left: -10px;
	border-top: 1px solid #ddd;
	width: 175px;
}

.section .activity .contentafterlink {
	font-size: .85em;
	height: 48px;
	text-overflow: ellipsis;
	overflow:hidden;
	text-overflow: clip ellipsis;
	line-height: 1.25em;
	padding-top: 5px;
}

.section .activity .instancename {
	font-weight: bold;
}

.editing .section .activity .contentafterlink {
	position: relative;
	top: -45px;
}

.editing .autocompletion {
	position: relative;
	top: -20px;
	left: -140px;
}

.availabilityinfo {
	display: none;
}

.sectionname {
	font-size:1.5em;
}

.centre_text {
	clear:both; 
	width:100%; 
	padding-top:50px; 
	min-height:300px; 
	border:none; 
	background: transparent;
	border-radius: 15px 0px 0px;
	-moz-border-radius: 15px 0px 0px;
	-webkit-border-radius:15px 0px 0px;}

.introvideo {
	width: auto; 
	height:315px;
	overflow:hidden; 
	float:left;
	margin-bottom:20px;
}

.section .activity.modtype_label.label {
	width: 90%; 
	margin-left:auto; 
	margin-right:auto;
}

.section .activity.modtype_label.label:hover {
	background: none;
}

.section .activity.modtype_label.label .moodle-actionmenu[data-enhanced].show .menu.align-tr-br {
	top: 0px;
}

.section .activity.modtype_label .commands {
	top: 107px
}

.section .activity.modtype_label .editing_move {
	left: -25px;
	top: 0px;
}

.topic_intro {
	float:right; 
	width: auto;
	max-width:350px;
	min-width:150px; 
	color:#333;
	font-size: 1.5em;
	height:auto;
	min-height:300px;
	margin-bottom:20px;}

.section-modchooser-link {
	top:20px; 
	position:relative; float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;}

.topics .section-modchooser-link a:link,
.topics .section-modchooser-link a:hover {
	color:#999 !important;
}	

#section-0 .section-modchooser-link a:link,
.section-0 .section-modchooser-link a:hover {
	color:#333 !important;
}

.course-content .single-section .section-navigation .title {
	text-align:left;
}

#add, #remove, .centerpara, .mdl-align {
	text-align:left;
}

.mdl-align {
	width:25%; 
	padding:10px;
}

.section .activity.modtype_label .commands {
	margin-left:auto; 
	margin-right:20px; 
	margin-top:20px; 
	margin-bottom:5px; 
	float:right; 
	clear:both;
}
	
img.iconlarge {
	width:40px; 
	height:40px;
	color: #999;
}

.section .activity .actions {
	position: relative;
	top:  -185px;
	left: 130px;
}
.section .activity .actions a {
	color: #999;
}

.section .activity .actions input {
	background: #fff;
	color: #000;
}

#completionprogressid {
	display: none;
}

#page-site-index .box.generalbox.sitetopic {
	overflow:hidden; 
	width: 100%; 
	clear:both; 
	margin-bottom:10px;
}
