/* @group Login */
#page-login-index {
	background: transparent;
}

#page-login-index #region-main {
	background: transparent;
	border: 0px none;
}

#page-login-index #page-footer{
	border-top: 0px none;
}

html.login-page{
	height: 100%;
}

.loginbox .loginpanel {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	overflow: visible;
	text-align: left !important;
	width: 100%;
	float: left;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin-bottom: 20px;
	background: #fff;
	border: 2px solid #ecedf0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	font-family: "Roboto";
	font-size: .9em;
	margin-right: 10px;
}

.loginbox .signuppanel {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	overflow: visible;
	text-align: left !important;
	width: 100%;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	margin-bottom: 20px;
	background: #fff;
	border: 2px solid #ecedf0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	font-family: "Roboto";
	margin-right: 10px;
}

.loginbox.twocolumns .loginpanel,
.loginbox.twocolumns .signuppanel {
	width: 45%;
	margin: 5px;
	padding: 20px;
}

.loginbox .loginform .form-input {
	float: left;
	width: 100%;
}

.loginbox .loginform .form-input input {
	width: 93%;
}

.loginbox .loginform input[type="submit"] {
	width: 98%;
}

.loginbox .loginform .form-label {
	float: left;
	width: 100%;
	text-align: left;
	white-space: nowrap;
	direction: rtl;
}

.loginbox .loginpanel .desc {
	padding: 10;
	margin: 0;
	display: none;
	margin-bottom: 5px;
}

.loginbox .rememberpass, 
.loginbox .forgetpass{
	text-align: left;
}

.loginbox .guestsub, 
.loginbox .forgotsub, 
.loginbox .potentialidps {
	margin: 5px;
	text-align: left;
}

.loginbox h2, .loginbox .subcontent {
	padding: 0px;
	margin: 0;
	text-align: left;
}

.loginbox .subcontent ol {
	text-indent: 10px;
	margin-left: 30px;
	font-size: 1em;
}

.loginbox h2{
	text-align: left;
}

.loginbox h2:before {
    font-family: FontAwesome;
    font-size: 1em;
    margin-right: .3em;
    color: #999;
}

.loginbox .loginpanel h2:before {
    content: "\f084";
}

.loginbox .signuppanel h2:before {
    content: "\f02d";
}

/* @end */