
/* @group Login */
#page-login-index {
	background: transparent;
}

#page-login-index #region-main {
	width: Auto;
	margin-left: Auto;
	margin-right: Auto;
}

#page-login-index #region-main {
	background: transparent;
	border: 0px none;
	margin-bottom: 130px;
}

#page-login-index #page-footer{
	border-top: 0px none;
}

html.login-page{
	height: 100%;
}

.loginpanel,
.signuppanel {
    padding: 15px;
    background: none;
    background: rgba(255, 255, 255, 0.85);
    border: 2px solid #ecedf0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 8px 8px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 21px -3px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 21px -3px rgba(0,0,0,0.75);
    font-family: "Roboto";
}

.loginpanel {
	margin-bottom: 20px;
}

.signuppanel {
	
}

.loginpanel form{
    background: [[setting:themecolor]];
    height: 100px; 
    width: 95%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.loginpanel form#guestlogin  {
	background: transparent;
	border: 0px none;
	height: auto;
}

.loginpanel form#guestlogin input[type="submit"] {
	top: -23px;
}

.loginpanel form#guestlogin input[type="submit"]:hover {
	background: #388f9d;
	color: #fff;
}

.guestform {
	border: 0px none;
	text-align: right;
	width: 100%;
	margin-top: 0px;
}

.loginpanel h2 i,
.signuppanel h2 i {
	color: #999;
	margin-right: 2px;
}

.signuppanel ol {
	margin-left: 40px;
}

.loginpanel .icon-submit{
    background: #bbb;
    border: 5px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    height: 63px;
    position: relative;
    float: right;
    right: -30px;
    top: -75px;
    width: 63px;
    padding: 0px 0px 0px 5px;
    text-align: center;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
     -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.loginpanel .icon-submit:hover{
    background-color: #388f9d;
}
.loginpanel form .inputarea{
    height: 95px;
}

.loginpanel form .inputarea div input[type="text"],
.loginpanel form .inputarea div input[type="password"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    background: none;
    border: 0;
    color: #FFFFFF;
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    height: 49px;
    padding: 2px 4px 0 20px;
    width: 100%;
}
.loginpanel form .inputarea div input[type="text"]:focus,
.loginpanel form .inputarea div input[type="password"]:focus{
    outline:none;
}
.loginpanel form .inputarea div input[type="text"]:-moz-placeholder,
.loginpanel form .inputarea div input[type="password"]:-moz-placeholder,
.loginpanel form .inputarea div input[type="text"]::-moz-placeholder,
.loginpanel form .inputarea div input[type="password"]::-moz-placeholder,
.loginpanel form .inputarea div input[type="text"]::-webkit-input-placeholder,
.loginpanel form .inputarea div input[type="password"]::-webkit-input-placeholder,
.loginpanel form .inputarea div input[type="text"]:-ms-input-placeholder,
.loginpanel form .inputarea div input[type="password"]:-ms-input-placeholder{
    color: #FFFFFF !important;
}
.loginpanel form .inputarea div input[type="password"]{
    border-top: 5px solid #FFFFFF;
}
.loginpanel form .inputarea div input[type="text"]{
    margin-right: 15px;
}
.loginpanel form p{
    color: [[setting:themecolor]];
    font-size: 15px;
    font-weight: bold;
}
.loginpanel label{
    color: rgb(105, 105, 109);
    float: right;
    font-size: 13px;
    text-decoration: none;
}

.loginpanel a {
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	float: left;
}


.loginpanel form div.remember{
    color: [[setting:themecolor]];
    float: left;
    font-size: 13px;
    margin-top: 10px; 
    margin-right: 30px;
}
.loginpanel form div.remember input[type="checkbox"]{
    cursor: pointer;
    float: left;
    margin-top: 6px; 
}
.loginpanel form div.remember label{
    float: left;
}

.loginpanel form .inputarea div input[type="text"]::-webkit-input-placeholder,
.loginpanel form .inputarea div input[type="password"]::-webkit-input-placeholder{
   color: #FFFFFF;
}

.loginpanel form .inputarea div input[type="text"]:-moz-placeholder,
.loginpanel form .inputarea div input[type="password"]:-moz-placeholder{ /* Firefox 18- */
   color: #FFFFFF;  
}

.loginpanel form .inputarea div input[type="text"]::-moz-placeholder,
.loginpanel form .inputarea div input[type="password"]::-moz-placeholder{  /* Firefox 19+ */
   color: #FFFFFF;  
}

.loginpanel form .inputarea div input[type="text"]:-ms-input-placeholder,
.loginpanel form .inputarea div input[type="password"]:-ms-input-placeholder{  
   color: #FFFFFF;  
}

.guestsub .desc {
	display: none;
}

.dir-rtl .loginpanel .icon-submit {
    float: left;
    left: -30px;
    right: auto;
}

.loginpanel form a {
	border: 1px solid #b4b4b7;
	background: #d9534f;
	color: #fff;
	padding: 9px 12px 9px;
	line-height: 22px;
	text-decoration: none;
	position: relative;
	font-size: 14px;
	text-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;
	font-weight: 500;
	font-family: "Roboto";
	display: inline-block;
	margin-top: 4px;
}

.loginpanel form a:hover {
	background: #388f9d;
}

/* @end */